#footer {
  width: 100%;
  height: auto; }
  #footer .corp {
    text-align: center;
    margin: 0 auto;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    color: lightgrey; }
    #footer .corp .privacy::after {
      content: "|";
      font-size: 13px;
      margin-left: 9px;
      margin-right: 5px; }
  #footer ul {
    padding: 0; }
    #footer ul li {
      display: inline-block; }
      #footer ul li a {
        text-decoration: none;
        display: block;
        font-family: 'Open Sans', sans-serif;
        font-size: 13px;
        color: #0b91a0; }

main {
  background-image: url(../img/background.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 900px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap; }
  main .phone {
    width: auto;
    height: auto;
    margin-bottom: 110px;
    /*delete for 375+*/ }
    main .phone .two {
      max-width: 100%;
      height: auto; }
  main .options {
    width: 500px;
    height: 400px;
    padding-top: 20px;
    /*delete for 375+*/
    display: flex;
    justify-content: center;
    flex-direction: column; }
    @media screen and (min-width: 375px) {
      main .options .options {
        max-width: 100%;
        height: auto; } }
    main .options .corp-name {
      font-family: 'Open Sans', sans-serif;
      font-weight: bold;
      font-size: 48px;
      color: #323232;
      margin: 0; }
    main .options .corp-text {
      font-family: 'Open Sans', sans-serif;
      font-size: 18px;
      font-weight: lighter;
      color: #323232; }
  main .buttons {
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 50px; }
    main .buttons .google_store {
      cursor: pointer;
      border-radius: 25px;
      margin-bottom: 20px;
      background-color: black;
      width: 200px;
      height: 50px;
      text-align: center;
      color: white; }
      main .buttons .google_store .logo {
        float: left;
        padding-top: 10px;
        padding-left: 20px; }
      main .buttons .google_store .logo-text {
        margin: 0;
        padding-top: 5px;
        padding-right: 20px;
        float: right;
        font-size: 14px;
        font-family: 'Open Sans', sans-serif;
        color: white; }
      main .buttons .google_store .logo-text::after {
        content: "GOOGLE PLAY";
        font-family: 'Open Sans', sans-serif;
        font-weight: bold;
        font-size: 14px;
        color: white;
        padding-right: 15px; }
    main .buttons .apple_store {
      margin-right: 25px;
      border-width: 1px;
      border-color: lightgrey;
      border-style: solid;
      cursor: pointer;
      border-radius: 25px;
      background-color: white;
      width: 200px;
      height: 50px; }
      main .buttons .apple_store .logo {
        float: left;
        padding-top: 8px;
        padding-left: 20px; }
      main .buttons .apple_store .logo-text {
        margin: 0;
        padding-top: 5px;
        padding-right: 20px;
        float: right;
        font-size: 14px;
        font-family: 'Open Sans', sans-serif;
        color: lightgrey; }
      main .buttons .apple_store .logo-text::after {
        content: "APP STORE";
        font-family: 'Open Sans', sans-serif;
        font-weight: bold;
        font-size: 14px;
        color: lightgrey;
        padding-right: 15px; }
    main .buttons .chrome_store {
      margin-top: 20px;
      border-width: 1px;
      border-color: lightgrey;
      border-style: solid;
      cursor: pointer;
      border-radius: 25px;
      background-color: white;
      width: 200px;
      height: 50px; }
      main .buttons .chrome_store .logo {
        float: left;
        padding-top: 10px;
        padding-left: 20px; }
      main .buttons .chrome_store .logo-text {
        margin: 0;
        padding-top: 5px;
        padding-right: 20px;
        float: right;
        font-size: 14px;
        font-family: 'Open Sans', sans-serif;
        color: lightgrey; }
      main .buttons .chrome_store .logo-text::after {
        content: "CHROME";
        font-family: 'Open Sans', sans-serif;
        font-weight: bold;
        font-size: 14px;
        color: lightgrey;
        padding-right: 15px; }
    main .buttons .firefox_store {
      margin-right: 25px;
      margin-top: 20px;
      border-width: 1px;
      border-color: lightgrey;
      border-style: solid;
      cursor: pointer;
      border-radius: 25px;
      background-color: white;
      width: 200px;
      height: 50px; }
      main .buttons .firefox_store .logo {
        float: left;
        padding-top: 10px;
        padding-left: 20px; }
      main .buttons .firefox_store .logo-text {
        margin: 0;
        padding-top: 5px;
        padding-right: 20px;
        float: right;
        font-size: 14px;
        font-family: 'Open Sans', sans-serif;
        color: lightgrey; }
      main .buttons .firefox_store .logo-text::after {
        content: "CHROME";
        font-family: 'Open Sans', sans-serif;
        font-weight: bold;
        font-size: 14px;
        color: lightgrey;
        padding-right: 15px; }

/*
@media only screen and (min-width : 320px) and (max-width : 480px) {
 main {
    h2 {
      font-size: 100px;
    }
  }
}*/
html, body {
  padding: 0;
  margin: 0;
  /*@media only screen and (min-width : 320px) and (max-width : 480px) {
    background-image: url(../img/background.png);
    background-repeat:  no-repeat;
    background-size: cover;
    background-attachment: fixed;
  }*/ }
  @media screen and (min-width: 375px) {
    html .buttons, body .buttons {
      justify-content: center; } }
  @media screen and (min-width: 375px) and (min-width: 375px) {
    html .buttons .apple_store, body .buttons .apple_store {
      margin-right: 0; }
    html .buttons .firefox_store, body .buttons .firefox_store {
      margin-right: 0; } }
  @media screen and (min-width: 375px) {
    html .corp-text, body .corp-text {
      font-size: 30px; } }
