@charset "UTF-8";
#footer {
  position: absolute;
  width: 100%;
  height: auto; }
  #footer .policy {
    padding-bottom: 20px; }
  #footer .corp {
    text-align: center;
    margin: 0 auto;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    color: lightgrey; }
    #footer .corp .privacy::after {
      content: "|";
      font-size: 13px;
      margin-left: 9px;
      margin-right: 5px; }
  #footer ul {
    padding: 0; }
    #footer ul li {
      display: inline-block; }
      #footer ul li a {
        text-decoration: none;
        display: block;
        font-family: 'Open Sans', sans-serif;
        font-size: 13px;
        color: #0b91a0; }

* {
  box-sizing: border-box; }

main {
  background: url(../img/newbg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  height: auto;
  width: 100%;
  position: relative;
  padding-bottom: 100px; }
  main .phone {
    position: relative;
    padding-top: 120px;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center; }
    main .phone .image-wraper {
      background-image: url(../img/blackwhite.png);
      background-repeat: no-repeat;
      height: 700px;
      width: 600px; }
  main .options {
    margin-left: 5%;
    margin-top: 10px;
    width: 500px;
    height: 400px;
    display: flex;
    justify-content: center;
    flex-direction: column; }
    main .options .sale-text {
      width: 510px; }
    main .options .corp-name {
      font-family: 'Open Sans', sans-serif;
      font-weight: bold;
      font-size: 48px;
      color: #323232;
      margin: 0;
      padding-left: 0; }
    main .options .corp-text {
      font-family: "Open Sans Light" , sans-serif;
      font-size: 18px;
      font-weight: lighter;
      color: #323232;
      margin-bottom: 0;
      padding-left: 0;
      padding-top: 30px; }
  main .buttons {
    height: 100%;
    width: 100%; }
    main .buttons .development1 {
      /*margin: 0;
      padding: 0;
      font-family: "Open Sans Regular", sans-serif;
      font-size: 14px;
      color: lightgrey;
      padding-top: 65px;*/
      position: absolute;
      color: #323232;
      top: 66%;
      left: 70%; }
    main .buttons .buttons-wrapper {
      margin-top: 50px;
      width: 100%;
      height: 200px;
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap; }
      main .buttons .buttons-wrapper .google_store {
        cursor: pointer;
        border-radius: 25px;
        background-color: black;
        width: 220px;
        height: 55px;
        display: flex;
        justify-content: flex-start;
        flex-direction: row;
        flex-wrap: nowrap;
        display: -webkit-box;
        /* OLD - iOS 6-, Safari 3.1-6, BB7 */
        display: -ms-flexbox;
        /* TWEENER - IE 10 */
        display: -webkit-flex; }
        main .buttons .buttons-wrapper .google_store .logo {
          width: 24px;
          height: 30px;
          margin-left: 20px;
          align-self: center; }
        main .buttons .buttons-wrapper .google_store .logo-text {
          align-self: center;
          margin-left: 20px;
          font-size: 14px;
          font-family: 'Open Sans', sans-serif;
          color: white; }
        main .buttons .buttons-wrapper .google_store .logo-text::after {
          content: "GOOGLE PLAY";
          font-family: 'Open Sans', sans-serif;
          font-weight: bold;
          font-size: 14px;
          color: white;
          padding-right: 15px; }
      main .buttons .buttons-wrapper .apple_store {
        margin-right: 30px;
        border-width: 1px;
        border-color: grey;
        border-style: solid;
        cursor: pointer;
        border-radius: 25px;
        background-color: white;
        width: 220px;
        height: 55px;
        display: flex;
        justify-content: flex-start;
        flex-direction: row;
        flex-wrap: wrap;
        display: -webkit-box;
        /* OLD - iOS 6-, Safari 3.1-6, BB7 */
        display: -ms-flexbox;
        /* TWEENER - IE 10 */
        display: -webkit-flex; }
        main .buttons .buttons-wrapper .apple_store .logo {
          width: 24px;
          height: 30px;
          margin-left: 20px;
          align-self: center; }
        main .buttons .buttons-wrapper .apple_store .logo-text {
          font-size: 14px;
          font-family: 'Open Sans', sans-serif;
          color: lightgray;
          align-self: center;
          margin-left: 20px; }
        main .buttons .buttons-wrapper .apple_store .logo-text::after {
          content: "APP STORE";
          font-family: 'Open Sans', sans-serif;
          font-weight: bold;
          font-size: 14px;
          color: lightgrey;
          float: left; }
      main .buttons .buttons-wrapper .chrome_store {
        border-width: 1px;
        border-color: grey;
        border-style: solid;
        cursor: pointer;
        border-radius: 25px;
        background-color: white;
        width: 220px;
        height: 55px;
        display: flex;
        justify-content: flex-start;
        flex-direction: row;
        flex-wrap: wrap;
        display: -webkit-box;
        /* OLD - iOS 6-, Safari 3.1-6, BB7 */
        display: -ms-flexbox;
        /* TWEENER - IE 10 */
        display: -webkit-flex; }
        main .buttons .buttons-wrapper .chrome_store .logo {
          width: 32px;
          height: 32px;
          margin-left: 18px;
          align-self: center; }
        main .buttons .buttons-wrapper .chrome_store .logo-text {
          font-size: 14px;
          font-family: 'Open Sans', sans-serif;
          color: lightgray;
          align-self: center;
          margin-left: 16px; }
        main .buttons .buttons-wrapper .chrome_store .logo-text::after {
          content: "CHROME";
          font-family: 'Open Sans', sans-serif;
          font-weight: bold;
          font-size: 14px;
          color: lightgrey;
          float: left; }
      main .buttons .buttons-wrapper .firefox_store {
        margin-right: 30px;
        border-width: 1px;
        border-color: grey;
        border-style: solid;
        cursor: pointer;
        border-radius: 25px;
        background-color: white;
        width: 220px;
        height: 55px;
        display: flex;
        justify-content: flex-start;
        flex-direction: row;
        flex-wrap: wrap;
        display: -webkit-box;
        /* OLD - iOS 6-, Safari 3.1-6, BB7 */
        display: -ms-flexbox;
        /* TWEENER - IE 10 */
        display: -webkit-flex; }
        main .buttons .buttons-wrapper .firefox_store .logo {
          width: 31px;
          height: 30px;
          margin-left: 18px;
          align-self: center; }
        main .buttons .buttons-wrapper .firefox_store .logo-text {
          font-size: 14px;
          font-family: 'Open Sans', sans-serif;
          color: lightgray;
          align-self: center;
          margin-left: 16px; }
        main .buttons .buttons-wrapper .firefox_store .logo-text::after {
          content: "FIREFOX";
          font-family: 'Open Sans', sans-serif;
          font-weight: bold;
          font-size: 14px;
          color: lightgrey;
          float: left; }

.apple_store::after {
  content: "In development";
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  color: lightgrey;
  position: absolute;
  margin-top: 64px;
  margin-left: 59px;
  /*padding-left: 60px;
  padding-top: 20px;*/ }

.chrome_store::after {
  content: "In development";
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  color: lightgrey;
  margin-top: 64px;
  margin-left: 59px;
  position: absolute; }

.firefox_store::after {
  content: "In development";
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  color: lightgrey;
  margin-top: 64px;
  margin-left: 59px;
  position: absolute; }

/*.apple_store::after {
  content: "In development";
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  color: lightgrey;
  padding-left: 60px;
  padding-top: 20px;
}
.chrome_store::after {
  content: "In development";
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  color: lightgrey;
  padding-left: 60px;
  padding-top: 20px;
}
.firefox_store::after {
  content: "In development";
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  color: lightgrey;
  padding-left: 60px;
  padding-top: 20px;
}*/
.slides {
  width: 100%;
  height: 100%; }

/* Slider */
.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-touch-callout: none;
  -khtml-user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent; }

.slick-list {
  padding-top: 97px;
  margin-right: 7%;
  position: relative;
  width: 278px;
  height: auto;
  float: right;
  display: block;
  overflow: hidden; }

.slick-list:focus {
  outline: none; }

.slick-list.dragging {
  cursor: pointer;
  cursor: hand; }

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }

.slick-track {
  position: relative;
  top: 0;
  left: 0;
  display: block;
  margin-left: auto;
  margin-right: auto; }

.slick-track:before,
.slick-track:after {
  display: table;
  content: ''; }

.slick-track:after {
  clear: both; }

.slick-loading .slick-track {
  visibility: hidden; }

.slick-slide {
  display: none;
  float: left;
  height: 100%;
  min-height: 1px; }

[dir='rtl'] .slick-slide {
  float: right; }

.slick-slide img {
  display: block; }

.slick-slide.slick-loading img {
  display: none; }

.slick-slide.dragging img {
  pointer-events: none; }

.slick-initialized .slick-slide {
  display: block; }

.slick-loading .slick-slide {
  visibility: hidden; }

.slick-vertical .slick-slide {
  display: block;
  height: auto; }

.slick-arrow.slick-hidden {
  display: none; }

/* Slider */
.slick-loading .slick-list {
  background: #fff url("./ajax-loader.gif") center center no-repeat; }

/* Icons */
@font-face {
  font-family: 'slick';
  font-weight: normal;
  font-style: normal;
  src: url("./fonts/slick.eot");
  src: url("./fonts/slick.eot?#iefix") format("embedded-opentype"), url("./fonts/slick.woff") format("woff"), url("./fonts/slick.ttf") format("truetype"), url("./fonts/slick.svg#slick") format("svg"); }

/* Arrows */
.slick-prev,
.slick-next {
  font-size: 0;
  line-height: 0;
  position: absolute;
  top: 50%;
  display: block;
  width: 20px;
  height: 20px;
  padding: 0;
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
  cursor: pointer;
  color: transparent;
  border: none;
  outline: none;
  background: transparent; }

.slick-prev:hover,
.slick-prev:focus,
.slick-next:hover,
.slick-next:focus {
  color: transparent;
  outline: none;
  background: transparent; }

.slick-prev:hover:before,
.slick-prev:focus:before,
.slick-next:hover:before,
.slick-next:focus:before {
  opacity: 1; }

.slick-prev.slick-disabled:before,
.slick-next.slick-disabled:before {
  opacity: .25; }

.slick-prev:before,
.slick-next:before {
  font-family: 'slick';
  font-size: 20px;
  line-height: 1;
  opacity: .75;
  color: white;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

/* Dots */
.slick-dotted.slick-slider {
  margin-bottom: 30px; }

.slick-dots {
  position: absolute;
  bottom: -25px;
  display: block;
  width: 100%;
  padding: 0;
  margin: 0;
  list-style: none;
  text-align: center; }

.slick-dots li {
  position: relative;
  display: inline-block;
  width: 20px;
  height: 20px;
  margin: 0 5px;
  padding: 0;
  cursor: pointer; }

.slick-dots li button {
  font-size: 0;
  line-height: 0;
  display: block;
  width: 20px;
  height: 20px;
  padding: 5px;
  cursor: pointer;
  color: transparent;
  border: 0;
  outline: none;
  background: transparent; }

.slick-dots li button:hover,
.slick-dots li button:focus {
  outline: none; }

.slick-dots li button:hover:before,
.slick-dots li button:focus:before {
  opacity: 1; }

.slick-dots li button:before {
  font-family: 'slick';
  font-size: 6px;
  line-height: 20px;
  position: absolute;
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
  content: '•';
  text-align: center;
  opacity: .25;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.slick-dots li.slick-active button:before {
  opacity: .75; }

@media screen and (max-width: 1174px) {
  main .options {
    margin-left: 0; } }

@media screen and (max-width: 640px) {
  main .phone .image-wraper {
    margin-right: 0;
    background-image: url(../img/425x500.png);
    background-repeat: no-repeat;
    height: 500px;
    margin-top: 50px;
    background-position: center; }
  main .options {
    margin-left: 0; }
  .slick-list {
    padding-top: 57px;
    width: 202px;
    height: 427px;
    position: absolute;
    left: 47%;
    display: block;
    overflow: hidden; } }

@media screen and (max-width: 630px) {
  main .phone .image-wraper {
    margin-right: 0;
    background-image: url(../img/425x500.png);
    background-repeat: no-repeat;
    height: 500px;
    margin-top: 50px;
    background-position: center;
    margin-left: 0; }
  .slick-list {
    padding-top: 57px;
    width: 202px;
    height: 427px;
    position: absolute;
    left: 46%;
    display: block;
    overflow: hidden; } }

@media screen and (max-width: 537px) {
  main .phone .image-wraper {
    margin-right: 0;
    background-image: url(../img/425x500.png);
    background-repeat: no-repeat;
    height: 500px;
    margin-top: 50px;
    background-position: center; }
  .slick-list {
    padding-top: 57px;
    width: 202px;
    height: 427px;
    display: block;
    overflow: hidden; } }

/*Mobile S5 Query Start*/
/* Portrait */
@media screen and (device-width: 360px) and (device-height: 640px) and (-webkit-device-pixel-ratio: 3) and (orientation: portrait) {
  main .phone .image-wraper {
    background-image: url(../img/300x400.png);
    background-repeat: no-repeat;
    background-position: center;
    height: 420px;
    margin-top: 40px; }
  main .options {
    margin-left: 0; }
  .image-wraper .slick-list {
    width: 159px;
    height: 350px;
    padding-top: 61px;
    margin-right: 36px; }
  main .options .corp-text {
    font-size: 16px;
    padding-top: 20px;
    padding-bottom: 20px; }
  main .options .corp-name {
    font-size: 40px; }
  main .phone {
    padding-top: 0; }
  main .buttons .buttons-wrapper {
    width: 100%;
    height: 60%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 0; }
  main .buttons .buttons-wrapper .apple_store {
    margin-right: 0;
    margin-top: 10px;
    margin-bottom: 10px; }
  main .buttons .buttons-wrapper .firefox_store {
    margin-right: 0;
    margin-top: 10px;
    margin-bottom: 10px; }
  main .options .sale-text {
    align-self: center;
    width: 90%; }
  .slick-dotted.slick-slider {
    margin-bottom: 0; }
  .chrome_store::after {
    display: none; }
  .apple_store::after {
    display: none; }
  #footer .corp {
    padding-bottom: 30px; }
  #footer .corp .policy {
    padding-bottom: 20px; } }

/*Mobile S5 Query End*/
/*Mobile iPhone 6, 6S, 7 and 8 Query start*/
@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {
  main .buttons .buttons-wrapper .firefox_store .logo-text {
    margin-left: 13px; }
  main .buttons .buttons-wrapper .chrome_store .logo-text {
    margin-left: 13px; }
  .chrome_store::after {
    display: none; }
  .apple_store::after {
    display: none; }
  main .phone .image-wraper {
    margin-right: 0;
    background-image: url(../img/300x400.png);
    background-repeat: no-repeat;
    background-position: center;
    height: 420px;
    margin-top: 50px; }
  main .options {
    margin-left: 0; }
  .image-wraper .slick-list {
    width: 159px;
    height: 350px;
    padding-top: 61px;
    margin-right: 42px; }
  main .options .sale-text {
    align-self: center;
    width: 90%; }
  main .phone {
    padding-top: 0; }
  main .buttons .buttons-wrapper {
    height: 60%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 0; }
  main .buttons .buttons-wrapper .apple_store {
    margin-right: 0;
    margin-top: 10px;
    margin-bottom: 10px; }
  main .buttons .buttons-wrapper .firefox_store {
    margin-right: 0;
    margin-top: 10px;
    margin-bottom: 10px; }
  main .options .corp-text {
    font-size: 16px;
    padding-top: 20px;
    padding-bottom: 20px; }
  main .options .corp-name {
    font-size: 40px; }
  main .options .sale-text {
    align-self: center;
    width: 90%; }
  #footer .corp {
    padding-bottom: 30px; }
  #footer .corp .policy {
    padding-bottom: 20px; } }

/* Landscape */
@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape) {
  main .buttons .buttons-wrapper {
    padding-left: 30px; }
  main .options {
    margin-left: 0; } }

/*Mobile Iphone 7 Query End*/
/*Mobile Iphone 7plus Query start*/
@media only screen and (min-device-width: 414px) and (max-device-width: 736px) and (-webkit-min-device-pixel-ratio: 3) and (orientation: portrait) {
  main .phone .image-wraper {
    margin-right: 0;
    background-image: url(../img/425x500.png);
    background-repeat: no-repeat;
    height: 500px;
    margin-top: 50px;
    background-position: center; }
  main .options {
    margin-left: 0; }
  .image-wraper .slick-list {
    width: 196px;
    height: 415px;
    padding-top: 68px;
    margin-right: 29px; }
  main .options .sale-text {
    align-self: center;
    width: 90%; }
  main .options .corp-text {
    font-size: 16px;
    padding-top: 20px;
    padding-bottom: 20px; }
  main .options .corp-name {
    font-size: 40px; }
  main .phone {
    padding-top: 0; }
  main .buttons .buttons-wrapper {
    width: 100%;
    height: 60%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding-left: 0; }
  main .buttons .buttons-wrapper .apple_store {
    margin-right: 0; }
  main .buttons .buttons-wrapper .firefox_store {
    margin-right: 0; } }

/* Landscape */
@media only screen and (min-device-width: 414px) and (max-device-width: 736px) and (-webkit-min-device-pixel-ratio: 3) and (orientation: landscape) {
  main .options {
    margin-left: 0; } }

/*Mobile Iphone 7plus Query End*/
/* ----------- iPhone X ----------- */
/* Portrait */
/* Landscape */
@media only screen and (min-device-width: 375px) and (max-device-width: 812px) and (-webkit-min-device-pixel-ratio: 3) and (orientation: landscape) {
  main .options {
    margin-left: 0; } }

/*Mobile Ipad 768 Query Start*/
/* Portrait */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 1) {
  main .options .sale-text {
    padding-left: 0; }
  main .buttons .buttons-wrapper {
    padding-left: 0; }
  main .options {
    margin-left: 0; } }

/* Landscape */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 2) {
  main .options {
    margin-left: 0; } }

/*Mobile Ipad 768 Query End*/
/* Portrait */
@media only screen and (min-device-width: 414px) and (max-device-width: 736px) and (-webkit-min-device-pixel-ratio: 3) and (orientation: portrait) {
  main .buttons .buttons-wrapper {
    width: 97%;
    height: 60%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding-left: 0; } }

/*Mobile Ipad 1024 Query Start*/
@media screen and (max-width: 1024px) {
  main .options .sale-text {
    padding-left: 0; } }

@media screen and (max-width: 1024px) {
  main .buttons .buttons-wrapper {
    padding-left: 0; } }

/*Mobile Ipad 1024 Query End*/
