#footer {
  position: absolute;
  width: 100%;
  height: auto;
  .footer-content_company {
    padding-bottom: 20px;
  }
  .footer-content {
    text-align: center;
    margin: 0 auto;
    font-family:'Open Sans', sans-serif;
    font-size: 14px;
    color: lightgrey;
    .privacy::after {
      content: "|";
      font-size: 13px;
      margin-left: 9px;
      margin-right: 5px;
    }
  }
  ul {
    padding-bottom: 20px;
    li {
      display: inline-block;
      a {
        text-decoration: none;
        display: block;
        font-family:'Open Sans', sans-serif;
        font-size: 13px;
        color: rgb(11,145,160);
      }
    }
  }
}