main {
  background-image: url(../img/background.png);
  background-repeat:  no-repeat;
  background-size: cover;
  height: 900px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;

  .phone {
    width: auto;
    height: auto;
    margin-bottom: 110px; /*delete for 375+*/
    .two {
      max-width: 100%;
      height: auto;
    }
  }
  .options {
    width: 500px;
    height: 400px;
    padding-top: 20px; /*delete for 375+*/
    display: flex;
    justify-content: center;
    flex-direction: column;
    @media screen and (min-width: 375px) {
      .options {
        max-width: 100%;
        height: auto;
      }
    }
    .corp-name {
      font-family: 'Open Sans', sans-serif;
      font-weight: bold;
      font-size: 48px;
      color: rgb(50,50,50);
      margin: 0;
    }
    .corp-text {
      font-family: 'Open Sans', sans-serif;
      font-size: 18px;
      font-weight: lighter;
      color: rgb(50,50,50);
    }
  }
  .buttons {
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 50px;
    .google_store {
      cursor: pointer;
      border-radius: 25px;
      margin-bottom: 20px;
      background-color: black;
      width: 200px;
      height: 50px;
      text-align: center;
      color: white;
      .logo {
        float: left;
        padding-top: 10px;
        padding-left: 20px;
      }
      .logo-text {
        margin: 0;
        padding-top: 5px;
        padding-right: 20px;
        float: right;
        font-size: 14px;
        font-family: 'Open Sans', sans-serif;
        color: white;
      }
      .logo-text::after {
        content: "GOOGLE PLAY";
        font-family: 'Open Sans', sans-serif;
        font-weight: bold;
        font-size: 14px;
        color:white;
        padding-right: 15px;
      }
    }
    .apple_store {
      margin-right: 25px;
      border-width: 1px;
      border-color: lightgrey;
      border-style: solid;
      cursor: pointer;
      border-radius: 25px;
      background-color: white;
      width: 200px;
      height: 50px;

      .logo {
        float: left;
        padding-top: 8px;
        padding-left: 20px;
      }
      .logo-text {
        margin: 0;
        padding-top: 5px;
        padding-right: 20px;
        float: right;
        font-size: 14px;
        font-family: 'Open Sans', sans-serif;
        color: lightgrey;
      }
      .logo-text::after {
        content: "APP STORE";
        font-family: 'Open Sans', sans-serif;
        font-weight: bold;
        font-size: 14px;
        color:lightgrey;
        padding-right: 15px;
      }
    }
    .chrome_store {
      margin-top: 20px;
      border-width: 1px;
      border-color: lightgrey;
      border-style: solid;
      cursor: pointer;
      border-radius: 25px;
      background-color: white;
      width: 200px;
      height: 50px;
      .logo {
        float: left;
        padding-top: 10px;
        padding-left: 20px;
      }
      .logo-text {
        margin: 0;
        padding-top: 5px;
        padding-right: 20px;
        float: right;
        font-size: 14px;
        font-family: 'Open Sans', sans-serif;
        color: lightgrey;
      }
      .logo-text::after {
        content: "CHROME";
        font-family: 'Open Sans', sans-serif;
        font-weight: bold;
        font-size: 14px;
        color: lightgrey;
        padding-right: 15px;
      }
    }
    .firefox_store {
      margin-right: 25px;
      margin-top: 20px;
      border-width: 1px;
      border-color: lightgrey;
      border-style: solid;
      cursor: pointer;
      border-radius: 25px;
      background-color: white;
      width: 200px;
      height: 50px;
      .logo {
        float: left;
        padding-top: 10px;
        padding-left: 20px;
      }
      .logo-text {
        margin: 0;
        padding-top: 5px;
        padding-right: 20px;
        float: right;
        font-size: 14px;
        font-family: 'Open Sans', sans-serif;
        color: lightgrey;
      }
      .logo-text::after {
        content: "CHROME";
        font-family: 'Open Sans', sans-serif;
        font-weight: bold;
        font-size: 14px;
        color: lightgrey;
        padding-right: 15px;
      }
    }
  }

}
/*
@media only screen and (min-width : 320px) and (max-width : 480px) {
 main {
    h2 {
      font-size: 100px;
    }
  }
}*/
