@import "layout/footer";

@import "layout/header";

html, body {
  padding: 0;
  margin: 0;
  @media screen and (min-width: 360px) {
    .two {

    }
  }
  @media screen and (min-width: 360px) {
    .buttons {
      justify-content: center;
      @media screen and (min-width: 360px) {
        .apple_store {
          margin-right: 0;

        }
        .firefox_store {
          margin-right: 0;

        }
      }
    }
  }
  @media screen and (min-width: 360px) {
    .corp-name {

    }
  }
  @media screen and (min-width: 360px) {
    .corp-text {
      font-size: 30px;
    }
  }
  /*@media only screen and (min-width : 320px) and (max-width : 480px) {
    background-image: url(../img/background.png);
    background-repeat:  no-repeat;
    background-size: cover;
    background-attachment: fixed;
  }*/

}



