@import "layout/footer";

@import "layout/header";

html, body {
  padding: 0;
  margin: 0;
  /*@media only screen and (min-width : 320px) and (max-width : 480px) {
    background-image: url(../img/background.png);
    background-repeat:  no-repeat;
    background-size: cover;
    background-attachment: fixed;
  }*/

}
html{
  overflow: hidden;
  height: 100%;
}
body{
  overflow: auto;
  height: 100%;
}                                              /*Mobile S5 Query Start*/
@media screen and (max-width:360px) {
  main .buttons .buttons-wrapper {
    width: 100%;
    height: 60%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

  }
}
@media screen and (max-width:360px) {
  main .buttons .buttons-wrapper .apple_store {
    margin-right: 0;
    margin-top: 10px;
    margin-bottom: 10px;
  }
}
@media screen and (max-width:360px) {
  main .buttons .buttons-wrapper .firefox_store {
    margin-right: 0;
    margin-top: 10px;
    margin-bottom: 10px;
  }
}
@media screen and (max-width:360px) {
  main .phone {
    padding-top: 0;
  }
}
@media screen and (max-width:360px) {
  main .options .corp-text {
    font-size: 15px;
  }
}
@media screen and (max-width:360px) {
  main .options .corp-name {
    font-size: 30px;
  }
}
                                                    /*Mobile S5 Query End*/
                                                /*Mobile Iphone 7 Query start*/

@media screen and (max-width: 375px) {
  main .phone {
    padding-top: 0;
  }
}
@media screen and (max-width: 375px) {
  main .buttons .buttons-wrapper {
    width: 100%;
    height: 60%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

  }
}
@media screen and (max-width: 375px) {
  main .buttons .buttons-wrapper .apple_store {
    margin-right: 0;
    margin-top: 10px;
    margin-bottom: 10px;
  }
}
@media screen and (max-width: 375px) {
  main .buttons .buttons-wrapper .firefox_store {
    margin-right: 0;
    margin-top: 10px;
    margin-bottom: 10px;
  }
}
@media screen and (max-width: 375px) {
  main .options .corp-text {
    font-size: 15px;
  }
}
@media screen and (max-width: 375px) {
  main .options .corp-name {
    font-size: 30px;
  }
}
                                                /*Mobile Iphone 7 Query End*/
                                              /*Mobile Iphone 7plus Query start*/

@media screen and (max-width: 414px) {
  main .phone {
    padding-top: 0;
  }
}
@media screen and (max-width: 414px) {
  main .buttons .buttons-wrapper {
    width: 100%;
    height: 60%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

  }
}
@media screen and (max-width: 414px) {
  main .buttons .buttons-wrapper .apple_store {
    margin-right: 0;

  }
}
@media screen and (max-width: 414px) {
  main .buttons .buttons-wrapper .firefox_store {
    margin-right: 0;

  }
}
                                            /*Mobile Iphone 7plus Query End*/