@import "layout/footer";

@import "layout/header";

html, body {
  padding: 0;
  margin: 0;
  @media screen and (min-width: 375px) {
    .phone {
      margin-top: 200px;
      padding-bottom: 0;

    }
  }
  @media screen and (min-width: 375px) {
    .options {
      padding-top: 0;

    }
  }
  @media screen and (min-width: 375px) {
    .two {
      padding-left: 0;

    }
  }
  @media screen and (min-width: 375px) {
    .corp-name {
      padding-left: 0;

    }
  }
  @media screen and (min-width: 375px) {
    .corp-text {
      padding-left: 0;

    }
  }
  @media screen and (min-width: 375px) {
    .buttons {
      width: 500px;
      margin-right: 0;
    }
  }
  /*@media only screen and (min-width : 320px) and (max-width : 480px) {
    background-image: url(../img/background.png);
    background-repeat:  no-repeat;
    background-size: cover;
    background-attachment: fixed;
  }*/

}



